* {
  margin: 0;
  padding: 0;
  font-family: 'helvetica neue', helvetica;
  font-weight: bold;
}

html, body, #container {
  height: 100%;
  min-width: 1235px;
  width: 100%;
}

#container {
  height: auto;
  min-height: 100%;
}

body {
  background: #FFF;
}

#logo {
  float: left;
  padding: 20px 0px 20px 20px;
}

#user {
  float: right;
  padding: 7px 20px 5px 0px;

  div {
    bottom: 0px
  }

  a {
    text-decoration: none;
    font-size: 9pt;
  }
}

.avatar {
  float: left;
  position: relative;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}

#title {
  font-size: x-large;
}

#tagline {
  font-size: small;
}

.strikethrough {
  text-decoration: line-through;
}

.content {
  margin: 0px auto;
  width: 1235px;
}

.section {
  clear: both;
}

#main {
  min-height: 809px;
  clear: both;
}

#question {
  background: #000;
}

.questiontext {
  text-align: center;
  padding: 45px 0px;
  color: #FFF;
  font-size: xx-large;
}

ul {
  list-style: none;
  display: inline-block;
}

#cards {
  border-bottom: 1px solid #DDD;
  padding: 10px 0px;

  background: #EFF;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EFF), to(#FFF));
  background: -moz-linear-gradient(top, #FFF, #EFF);

  .row {
    clear: both;
  }
}

.card {
  padding: 10px 0px 20px 0px;
  border: 1px solid #CCC;
  background: #FFF;
  float: left;
  clear: top;
  margin: 10px;
  moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 220px;

  img {
    margin: 0px 10px;
    border: 2px solid #EEE;
    width: 200px;
  }

  .cardtext {
    text-align: center;
    font-size: x-large;
    padding: 0px auto;
    width: 200px;
  }
}

#footer {
  clear: both;
  position: relative;
  z-index: 10;
  height: 100px;
  margin-bottom: -130px;
  background: #000;
  color: #FFF;
  padding: 10px 50px;
  font-size: x-small;
  text-align: center;

  div {
    padding: 3px 0px;

    a {
      color: #FFF;
    }
  }
}
