<!DOCTYPE html>
<html>
<head>
  <title>Animated Gifs Against Humanity</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
<div id="header">
  <div id="logo">
    <div id="title"><span class="strikethrough">Cards</span>Animated Gifs Against Humanity</div>
    <div id="tagline">A free party game for horrible people.</div>
  </div>
</div>

<div id="main">
<%= yield %>
</div>

</div>
<div id="footer">
  <div>
    Animated Gifs Against Humanity was written in 2013 by Brian Temple and released under
    the <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commans BY-NC-SA 2.0 license</a>
  </div>
  <div>
    Question text and game concept is a remix of the awesome <a href="http://www.cardsagainsthumanity.com">Cards Against Humanity</a>
    card game. (Buy it!) Cards Against Humanity is available under a
    <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons BY-NC-SA 2.0 license.</a>
  </div>
  <div>
    All animated gifs are courtesy of <a href="http://s1276.photobucket.com/user/staffpicks/library/Animated_GIFs">staff_picks</a>
    at <a href="http://www.photobucket.com">Photobucket.com</a>. They are cool, check them out and sign up!
  </div>
</div>
</body>
</html>
